.bgtfw-cta .well {
    margin: 30px 100px;
}

.site-description {
	margin-bottom: 30px;
}

.site-description:after {
	display: block;
	font-size:.5em;
	margin-top: 5px;
	content: 'I Added this with CSS';
}